body{
background:black;
color:white;
font-family:Arial;
text-align:center;
margin:0;

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
min-height:100vh;
}

h1{
color:gold;
font-size:55px;
text-shadow:0 0 15px gold;
}

.container{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}

.balance{
border:2px solid gold;
padding:10px 25px;
margin:20px auto;
font-size:22px;
display:inline-block;
}

button{
background:gold;
color:black;
border:none;
padding:15px 35px;
margin:10px;
font-size:18px;
border-radius:12px;
cursor:pointer;
transition:0.25s;
}

button:hover{
transform:scale(1.12);
box-shadow:0 0 15px gold;
}

select,input{
padding:10px;
margin:10px;
border-radius:8px;
border:none;
}

.slots{
margin-top:20px;
}

.slot{
font-size:60px;
margin:10px;
display:inline-block;
width:80px;
}

.dice{
width:80px;
height:80px;
background:white;
border-radius:12px;
display:grid;
grid-template-columns:repeat(3,1fr);
grid-template-rows:repeat(3,1fr);
padding:10px;
margin:10px auto;
}

.dot{
width:12px;
height:12px;
background:black;
border-radius:50%;
justify-self:center;
align-self:center;
}

/* нове колесо рулетки */

#wheelCanvas{
margin:30px auto;
border-radius:50%;
border:6px solid gold;
background:#111;
box-shadow:0 0 20px gold;
}

.red{background:#b30000;}
.black{background:#111;}
.green{background:#008000;}

.highlight{
outline:4px solid gold;
}

canvas{
margin-top:30px;
}